node_modules
dist
out
.DS_Store
*.log*
.editorconfig
.eslintignore
.eslintrc.cjs
.prettierignore
.prettierrc.yaml
dev-app-update.yml
electron-builder.yml
package-lock.json
tsconfig.node.json
tsconfig.web.json
yarn.lock
electron.vite.config.ts
package.json
postcss.config.js
tailwind.config.js
tsconfig.js
.vscode
build
resources