@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('./font/Poppins-Black.ttf') format('truetype');
  font-weight: 900; /* Black */
}
@font-face {
  font-family: 'Poppins';
  src: url('./font/Poppins-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold */
}
@font-face {
  font-family: 'Poppins';
  src: url('./font/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800; /* Extra Bold */
}
@font-face {
  font-family: 'Poppins';
  src: url('./font/Poppins-Light.ttf') format('truetype');
  font-weight: 300; /* Light */
}
@font-face {
  font-family: 'Poppins';
  src: url('./font/Poppins-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium */
}
@font-face {
  font-family: 'Poppins';
  src: url('./font/Poppins-Regular.ttf') format('truetype');
  font-weight: 400; /* Regular */
}
@font-face {
  font-family: 'Poppins';
  src: url('./font/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600; /* Semi Bold */
}
@font-face {
  font-family: 'Poppins';
  src: url('./font/Poppins-Thin.ttf') format('truetype');
  font-weight: 100; /* Thin */
}

/* Usage */
body {
  font-family: 'Poppins', sans-serif; /* Specify the font family */
  font-weight: 400; /* Specify the desired weight */
  /*
  if the theme is dark set the background to dark
  put condition
  */
  overflow-y: hidden;
  background-color: #191919;
}

.customScroll::-webkit-scrollbar {
  width: 10px;
}

.customScroll::-webkit-scrollbar-track {
  background-color: #323232;
}

.customScroll::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 40px;
}

.lexicalEditor {
  font-family: 'Segoe UI, sans-serif';
  text-align: left;
  font-size: 16px;
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  padding: 8px;
  margin: 0px;
  box-shadow: 0 0 0 1px #eaeaea;
  cursor: text;
  outline: none;
  transition: all 0.2s;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  text-overflow: ellipsis;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  max-height: 450px;
  min-height: 400px;
  overflow-y: auto;
}

.placeholder {
  color: #888888;
  font-size: 16px;
  font-family: 'Segoe UI, sans-serif';
}

.text-bold {
  font-weight: 700;
}

.text-italic {
  font-style: italic;
}

.text-underline {
  text-decoration: underline;
}
